{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Artists{% endblock %}
{% block content %}

<ul class="items">
	{% for artist in artists %}
		{%if artist.city and artist.state %}
			<h5> {{ artist.city }} , {{ artist.state }} </h5>
		{%endif%}
	<li>
		<a  href="/artists/{{ artist.id }}">
			<i class="fas fa-users"></i>
			<div class="item">
				<h4>  {{ artist.name }}</h4>
			</div>
		</a>
		{%if artist.image_link%}
		<span class="artist_hover_img">
			<img src= "{{ artist.image_link }}" alt="image"/>
		</span>
		{%endif%}
	</li>
	
	{% endfor %}
</ul>
{% endblock %}