{% extends 'layouts/main.html' %}
{% block title %}{{ artist.name }} | Artist{% endblock %}
{% block content %}
<style>

</style>
		
<div class="row">
	<div class="col-sm-6">
		<h1 class="monospace" style= 'text-shadow: #ff8000 3px 3px 3px;'>
			{{ artist.name }} 
			<form style="display: inline; margin: 0;" onsubmit= "return confirm('Edit Artist?');" class="" method="GET" action="/artists/{{artist.id}}/edit">
			<button class="far fa-edit edit " id='editBtn' data-id="{{ artist.id }}"></button>
			</form>
			<form style="display: inline; margin: 0;" onsubmit= "return confirm('Delete Artist?');" class="" method="POST" action="/artists/{{artist.id}}/delete">
			<button class="delete" id='deleteBtn' data-id="{{ artist.id }}">&cross;</button>
			</form>
		</h1>
		<p class="subtitle">
			ID: {{ artist.id }}
		</p>
		<div class="genres">
			{% for genre in artist.genres %}
			<span class="genre">{{ genre }}</span>
			{% endfor %}
		</div>
		<p>
			<i style = 'color: rgb(69, 141, 235)' class="fas fa-globe-americas"></i> {{ artist.city }}, {{ artist.state }}
		</p>
		<p>
			<i style = 'color: rgb(69, 141, 235)' class="fas fa-phone-alt"></i> {% if artist.phone %}{{ artist.phone }}{% else %}No Phone{% endif %}
        </p>
        <p>
			<i style = 'color: rgb(69, 141, 235)' class="fas fa-link"></i> {% if artist.website %}<a href="{{ artist.website }}" target="_blank">{{ artist.website }}</a>{% else %}No Website{% endif %}
		</p>
		<p>
			<i  style = 'color: rgb(69, 141, 235)'class="fab fa-facebook-f"></i> {% if artist.facebook_link %}<a href="{{ artist.facebook_link }}" target="_blank">{{ artist.facebook_link }}</a>{% else %}No Facebook Link{% endif %}
        </p>
		{% if artist.seeking_venue %}
		<div class="seeking">
			<p class="lead">Currently seeking performance venues</p>
			{% if artist.seeking_description %}
			<div class="description">
				<i style = 'color: rgb(69, 141, 235)' class="fas fa-quote-left"></i> {{ artist.seeking_description }} <i style = 'color: rgb(69, 141, 235)' class="fas fa-quote-right"></i>
			</div>
			{% endif %}
		</div>
		{% else %}	
		<p class="not-seeking">
			<i style = 'color: rgb(69, 141, 235)' class="fas fa-moon"></i> Not currently seeking performance venues
		</p>
		{% endif %}
	</div>
	
	
	<div class="col-sm-6 items">
		<!-- <img src="{{ artist.image_link }}" alt="Venue Image" /> -->
		<div>
			
			<span class="toggle_audio" style="padding-top: 10px; margin:0px;">
				<input type="checkbox" onclick="play_pause('{{artist.name}}')">
				<label data-off="Stop" data-on="Play"></label>
			</span>
			<span class="main slide_none slide-right" id ='music_title_main'>
				<p id="music_title">  "Turn the Tides" by {{artist.name}}  </p>
			 </span>
		</div>
		<img style="box-shadow: #ff8000 3px 3px 3px;" src= "{{ artist.image_link }}" alt="artist_image"/>
		
	</div>
</div>
<section>
	<h2 class="monospace">{{ artist.upcoming_shows_count }} Upcoming {% if artist.upcoming_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{%for show in artist.upcoming_shows %}
			{%if not show.deleted%}
				<div class="col-sm-4">
					<div class="tile tile-show">
						<img src="{{ show.venue_image_link }}" alt="Show Venue Image" />
						<h5><a href="/venues/{{ show.venue_id }}">{{ show.venue_name }}</a></h5>
						<h6>{{ show.start_time|datetime('full') }}</h6>
					</div>
				</div>
			{%endif%}
		{% endfor %}
	</div>
</section>
<section>
	<h2 class="monospace">{{ artist.past_shows_count }} Past {% if artist.past_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{%for show in artist.past_shows %}
			<div class="col-sm-4">
				<div class="tile tile-show">
					<img src="{{ show.venue_image_link }}" alt="Show Venue Image" />
					{%if not show.deleted%}
					<h5><a href="/venues/{{ show.venue_id }}">{{ show.venue_name }}</a></h5>
					<h6>{{ show.start_time|datetime('full') }}</h6>
					{%else%}
					<h5>{{ show.venue_name }}</h5>
					<h6>{{ show.start_time|datetime('full') }}</h6>
					<h5 style="font-style: oblique; color: red;">Venue currently deleted</h5>
					{%endif%}
				</div>
			</div>
		{% endfor %}
	</div>
</section>
<script>
	//DB call method #2 using delete request 
	/* const deleteArtist =  document.getElementById("deleteBtn");
	deleteArtist.onclick = function (e) {
	let proceed =false;
  	if (confirm("Delete Artist?")) {
		proceed =true;
	} else {
		proceed=false;
	}
	if (proceed){
		const artist_id = e.target.dataset.id;
		fetch("/artist/" + artist_id , {
		//post request to that route
		method: 'DELETE'
		}).then(function (response) {
			return response.json();
		}).then(function (jsonResponse) {
			// do something with the jsonResponse
			url = jsonResponse.redirect
			if (url) {
   			 window.location.href =url;
			}
		})
		.catch(function (e) {
			console.error(e);
			alert('Error in DELETE request'); 
		});
	}
	
	} */
	let play_state=false;
	message ='<p>"Turn the Tides" by {{artist.name}} </p>';
	var title = [message];
	var index = 0;

	function change_title() {
		var x = title[index];
		$('.main').html(x);
		index++;
		if (index >= title.length) { index = 0; }
	};

	function change_left() {
		$('span').removeClass('slide-right').addClass('slide-left');
		

	}

	function change_right() {
		$('span').removeClass('slide-left').addClass('slide-right');
		change_title();
	}

	function to_left() {
	setInterval(change_left, 10000);
	};

	function to_right() {
		setInterval(change_right, 15000);
	};

	to_right();
	to_left();

	function play_pause(name){
		
		if(play_state == false){
			console.log(play_state)
			document.getElementById('music_title_main').className='main slide-right'
			play_state=true
			// let p_element = document.getElementById('music_title');
			// p_element.textContent = '"Turn the Tides" by ' + name;
		}
		else if (play_state ==true) {
			console.log(play_state)
			document.getElementById('music_title_main').className='main slide_none'
			play_state=false;
		}
}


</script>
{% endblock %}

