{% extends 'layouts/main.html' %}
{% block title %}Show Search{% endblock %}
{% block content %}

    <div class="page-header">
        <h1>Fyyur Search!</h1>
    </div>
    <p class="lead"> Show Search </p>

    <ul class="nav nav-pills">
        <li class="active"><a>Shows</a></li>
    </ul>

    <!-- <h3>Number of search results for "{{ search_term }}": {{ results.count }}</h3>
    <ul class="items">
        {% for artist in results.data %}
        <li>
            <a href="/artists/{{ artist.id }}">
                <i class="fas fa-users"></i>
                <div class="item">
                    <h5>{{ artist.name }}</h5>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul> -->

{% endblock %}

