{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}

{% for venue in venues %}
	{%if venue.city and venue.state %}
			<h5> {{ venue.city }} , {{ venue.state }} </h5>
		{%endif%}
	<ul class="items">
		<li>
			<a href="/venues/{{ venue.id }}">
				<i class="fas fa-music"></i>
				<div class="item">
					<h4>{{ venue.name }}</h4>
				</div>
			</a>
			<div class = 'floater'>
			</div>
		{%if venue.image_link%}
			<span class="venue_hover_img">
				<img src= "{{ venue.image_link }}" alt="image"/>
			</span>
		{%endif%}

		</li>
	{% endfor %}
	</ul>
{% endblock %}