{% extends 'layouts/main.html' %}
{% block title %}{{ artist.name }} | Artist{% endblock %}
{% block content %}
<style>
	.artist-delete {
		-webkit-appearance: none;
		border-style: ridge;
		outline: none;
		color: red;
		cursor: pointer;
		font-size: 25px;
		background-color: white;
		
	  }

	  .artist-edit  {
		-webkit-appearance: none;
		border-style: ridge;
		outline: none;
		color: rgb(0, 0, 0);
		cursor: pointer;
		font-size: 22px;
		background-color: white;
		padding: .1599em .15em .175em .25em;
		position: relative;
		top: 0px;
		right: 0px
		
	  }
</style>
		
<div class="row">
	<div class="col-sm-6">
		<h1 class="monospace">
			{{ artist.name }} 
			<form style="display: inline; margin: 0;" onsubmit= "return confirm('Edit Artist?');" class="" method="GET" action="/artists/{{artist.id}}/edit">
			<button class="artist-edit far fa-edit" id='editBtn' data-id="{{ artist.id }}"></button>
			</form>
			<form style="display: inline; margin: 0;" onsubmit= "return confirm('Delete Artist?');" class="" method="POST" action="/artist/{{artist.id}}/delete">
			<button class="artist-delete" id='deleteBtn' data-id="{{ artist.id }}">&cross;</button>
			</form>
		</h1>
		<p class="subtitle">
			ID: {{ artist.id }}
		</p>
		<div class="genres">
			{% for genre in artist.genres %}
			<span class="genre">{{ genre }}</span>
			{% endfor %}
		</div>
		<p>
			<i class="fas fa-globe-americas"></i> {{ artist.city }}, {{ artist.state }}
		</p>
		<p>
			<i class="fas fa-phone-alt"></i> {% if artist.phone %}{{ artist.phone }}{% else %}No Phone{% endif %}
        </p>
        <p>
			<i class="fas fa-link"></i> {% if artist.website %}<a href="{{ artist.website }}" target="_blank">{{ artist.website }}</a>{% else %}No Website{% endif %}
		</p>
		<p>
			<i class="fab fa-facebook-f"></i> {% if artist.facebook_link %}<a href="{{ artist.facebook_link }}" target="_blank">{{ artist.facebook_link }}</a>{% else %}No Facebook Link{% endif %}
        </p>
		{% if artist.seeking_venue %}
		<div class="seeking">
			<p class="lead">Currently seeking performance venues</p>
			{% if artist.seeking_description %}
			<div class="description">
				<i class="fas fa-quote-left"></i> {{ artist.seeking_description }} <i class="fas fa-quote-right"></i>
			</div>
			{% endif %}
		</div>
		{% else %}	
		<p class="not-seeking">
			<i class="fas fa-moon"></i> Not currently seeking performance venues
		</p>
		{% endif %}
	</div>
	<div class="col-sm-6">
		<img src="{{ artist.image_link }}" alt="Venue Image" />
	</div>
</div>
<section>
	<h2 class="monospace">{{ artist.upcoming_shows_count }} Upcoming {% if artist.upcoming_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{%for show in artist.upcoming_shows %}
			{%if not show.deleted%}
				<div class="col-sm-4">
					<div class="tile tile-show">
						<img src="{{ show.venue_image_link }}" alt="Show Venue Image" />
						<h5><a href="/venues/{{ show.venue_id }}">{{ show.venue_name }}</a></h5>
						<h6>{{ show.start_time|datetime('full') }}</h6>
					</div>
				</div>
			{%endif%}
		{% endfor %}
	</div>
</section>
<section>
	<h2 class="monospace">{{ artist.past_shows_count }} Past {% if artist.past_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{%for show in artist.past_shows %}
			<div class="col-sm-4">
				<div class="tile tile-show">
					<img src="{{ show.venue_image_link }}" alt="Show Venue Image" />
					{%if not show.deleted%}
					<h5><a href="/venues/{{ show.venue_id }}">{{ show.venue_name }}</a></h5>
					<h6>{{ show.start_time|datetime('full') }}</h6>
					{%else%}
					<h5>{{ show.venue_name }}</h5>
					<h6>{{ show.start_time|datetime('full') }}</h6>
					<h5 style="font-style: oblique; color: red;">Venue currently deleted</h5>
					{%endif%}
				</div>
			</div>
		{% endfor %}
	</div>
</section>
<script>
	//DB call method #2 using delete request 
	/* const deleteArtist =  document.getElementById("deleteBtn");
	deleteArtist.onclick = function (e) {
	let proceed =false;
  	if (confirm("Delete Artist?")) {
		proceed =true;
	} else {
		proceed=false;
	}
	if (proceed){
		const artist_id = e.target.dataset.id;
		fetch("/artist/" + artist_id , {
		//post request to that route
		method: 'DELETE'
		}).then(function (response) {
			return response.json();
		}).then(function (jsonResponse) {
			// do something with the jsonResponse
			url = jsonResponse.redirect
			if (url) {
   			 window.location.href =url;
			}
		})
		.catch(function (e) {
			console.error(e);
			alert('Error in DELETE request'); 
		});
	}
	
} */
</script>
{% endblock %}

