
/**
 * @file
 * Main stylesheet file.
 */


/*****************************************************************************
 * Main elements
 ****************************************************************************/
html {
  overflow-y: scroll;
}
section {
  margin: 50px 0;
}
section > h2 {
  margin-bottom: 20px;
}
a {
  cursor: pointer;
  color: #ff8c3a;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background: initial;
  color: initial;
}
p.lead {
  margin-top: 30px;
}
::selection {
  /* FONT-WEIGHT: 100; */
  color: #FFF8;
}
::-moz-selection {
  background: #555;
  color: #FFF;
}
::-webkit-selection {
  background: #555;
  color: #FFF;
}
/* Main elements end */


/*****************************************************************************
 * Various other styles
 ****************************************************************************/

/* Various other styles end */

#front-splash {
	width: 100%;
}
.navbar.navbar-fixed-top {
  background: none;
  box-shadow: none;
  border-bottom: none;
  padding-top: 10px;
  background-color: white;
}
.navbar-nav .search {
  margin-top: 6px;
  width: 300px;
  margin-right: 15px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.active>a {
    background: none;
    box-shadow: none;
    color: black;
    font-weight: bold;
}
.navbar-nav .search input {
  border-radius: 50px;
  background: #f2f2f2;
  border: none;
  box-shadow: none;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 1.4rem;
}

.btn-default {
    border: none;
    background-color: #dde2e7;
    background-image: linear-gradient(#dde2e7,#dde2e7);
    color: #444;
}

#content h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

#content h3 button {
    margin-right: 10px;
}

ul.items {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.items > li > a {
  margin-bottom: 15px;
  display: flex;
  color: initial;
  text-decoration: initial;
}
ul.items > li > a > i {
  padding: 7px 10px 0;
}
ul.items > li:hover {
  color: orange;
  cursor: pointer;
}
ul.items > li:hover h5 {
  color: black;
}
ul.items > li:hover h4 {
  color: orange;
}
.item {
  padding: 5px 5px 5px;
  flex: 1;
}
.item h5 {
  margin-top: 0;
  margin-bottom: 5px;
  
}
img {
  max-width: 100%;
  max-height: 500px;
  border: #676767 solid 1px;
 
}
p {
  margin: 5px 0;
}
p > i {
  width: 30px;
  text-align: center;
}
.not-seeking {
  opacity: 0.6;
}
.seeking {
  display: inline-block;
  padding: 20px 30px;
  margin-top: 30px;
  border-radius: 15px;
  font-weight: bold;
  background: #ffffc6;
}

.seeking > button {
  margin-left: 15px;
}
.description {
  max-width: 450px;
}
.genres {
  margin-bottom: 15px;
}

span.genre {
  display: inline-block;
  font-family: monospace;
  padding: 4px 8px;
  background: #f0f0f0;
  margin: 0 5px 5px 0;
  border-radius: 3px;
  color: #676767;
  font-size: 0.9em;
  text-transform: uppercase;
  border: solid 1px #eee;
}

.delete {
  -webkit-appearance: none;
  border-style: none;
  border-left: 5px outset #a42c1c;
  border-right: 5px outset #a42c1c;
  border-radius: 38px 40px 40px 40px;
  outline: none;
  color: red;
  cursor: pointer;
  font-size: 25px;
  background-color: white;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
  }

  .delete:hover {
    -webkit-appearance: none;
    border-style: none;
    border: 2px groove #a42c1c;
    border-radius: 38px 40px 40px 40px;
    outline: none;
    color: red;
    cursor: pointer;
    font-size: 25px;
    background-color: white;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
    }

  .edit  {
  -webkit-appearance: none;
  border-style: none;
  border-left: 5px outset #1C6EA4;
  border-right: 5px outset #1C6EA4;

  border-radius: 38px 40px 40px 40px;
  outline: none;
  color: #0c3e5f;
  cursor: pointer;
  font-size: 22px;
  background-color: white;
  padding: .1599em .15em .175em .25em;
  position: relative;
  top: 0px;
  right: 0px
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
  }

  .edit:hover{
  -webkit-appearance: none;
  border-style: none;
  
  border: 2px groove #1C6EA4;
  border-radius: 38px 40px 40px 40px;
  outline: none;
  color: #040607;
  cursor: pointer;
  font-size: 22px;
  background-color: white;
  padding: .1599em .15em .175em .25em;
  position: relative;
  top: 0px;
  right: 0px
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
  }

span.genre_unselected {
  display: inline-block;
  font-family: monospace;
  padding: 4px 8px;
  background: #f0f0f0;
  margin: 0 5px 5px 0;
  border-radius: 3px;
  color: #676767;
  font-size: 0.9em;
  text-transform: uppercase;
  border: solid 1px #eee;
}

span.genre_selected {
  display: inline-block;
  font-family: monospace;
  padding: 4px 8px;
  background: #ff0;
  margin: 0 5px 5px 0;
  border-radius: 3px;
  color: #676767;
  font-size: 0.9em;
  text-transform: uppercase;
  border: solid 1px #eee;
}

button.genre_unselected {
  display: inline-block;
  font-family: monospace;
  padding: 4px 8px;
  background: #f0f0f0;
  margin: 0 5px 5px 0;
  border-radius: 3px;
  color: #676767;
  font-size: 0.9em;
  text-transform: uppercase;
  border: solid 1px #eee;
}

button.genre_selected {
  display: inline-block;
  font-family: monospace;
  padding: 4px 8px;
  background: #ff0;
  margin: 0 5px 5px 0;
  border-radius: 3px;
  color: #676767;
  font-size: 0.9em;
  text-transform: uppercase;
  border: solid 1px #eee;
}
.monospace {
  font-family: monospace;
  text-transform: uppercase;
}
h1.monospace {
  font-size: 2.5rem;
}

h2.monospace {
  font-size: 2.25rem;
  opacity: 0.7;
}
.shows .tile-show {
  height: 350px;
}
.tile {
  text-align: center;
  padding: 15px 25px;
  border: solid 1px #ebebeb;
  height: 325px;
  margin-bottom: 15px;
}
.tile img {
  max-height: 200px;
}
.form-wrapper {
  max-width: 400px;
}
.form-inline {
  font-size: 0;
}
.form-inline .form-group {
  width: 50%;
}
.form-inline .form-control {
  width: 100%;
}
.subtitle {
  opacity: 0.5;
}
.form-checkbox{
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: auto;
  outline: rgb(255, 153, 0) groove 5px;
  background: lightgray;
  height: 16px;
  width: 16px;
  border: 1px solid white;
}
.form-checkbox:checked{
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: auto;
  outline: rgb(255, 153, 0) groove 5px;
  background: rgb(236, 8, 8);
  height: 16px;
  width: 16px;
  border: 1px solid white;
}

.control-me::after {
  content: "🙈❌";
  font-size: 50px;
  position: relative;
  left: 2.65em;
}

#toggle:checked ~ .control-me::after {
  content: "🐵✔";
  position: relative;
  left: 2.65em;
}


.hide-contents{
  display: none;
}

.toggle {
  background:rgb(255, 153, 0);
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  border-style: ridge;
  border-color: black;
  position: relative;
  left: 1em;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  left: -100vw;
  
  
  /* Note, you may want to position the checkbox over top the label and set the opacity to zero instead. It can be better for accessibilty on some touch devices for discoverability. */
}
.items li { display: inline;}
.items .artist_hover_img  {position:absolute; display:none; z-index:99; }
.items .venue_hover_img  {position:absolute; display:none; z-index:99; }
.items h5{
  color: #ff8000;
}

.items li:hover .artist_hover_img { 
  display:inline; 
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: visible; 
  position: fixed; 
  padding: 5px;
  left: 50%;
  top: 50%;
  transform: translate(-25%, -65%);
  
}
.items li:hover .venue_hover_img { 
  display:inline; 
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: visible; 
  position: fixed; 
  padding: 5px;
  left: 50%;
  top: 50%;
  transform: translate(-25%, -65%);
  
}

.artist_hover_img img {
  height: 150%;
  width: 150%;
}
.items img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.featured{
  /* -webkit-box-shadow: 6px 7px 44px 8px #000000; */
  /* -webkit-box-shadow: 6px 7px 13px 4px #000000;
  -webkit-box-shadow: 0 8px 6px -6px gray;
  -moz-box-shadow: 0 8px 6px -6px gray;
  box-shadow: 0 8px 6px -6px gray;
  border: 2px outset #1C6EA4; */
  /* border-radius: 38px 38px 40px 40px; */

  /* background: linear-gradient(180deg,  rgb(31, 31, 31), #1f1f1f, rgb(255, 255, 255) );
  background-image: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(31,31,31,1) 58%, rgba(255,255,255,1) 85%, rgba(255,255,255,1) 100%);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(31,31,31,1) 41%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%); */
  background-color: #1f1f1f;
  -webkit-box-shadow: 6px 7px 13px 4px #000000;
  border-color:black; border-radius: 38px 38px 40px 40px;
  
}
.featured_row{

}
.featured_pane{
  

}
.tinted{
  -webkit-box-shadow: 0 8px 6px -6px gray;
  -moz-box-shadow: 0 8px 6px -6px gray;
       box-shadow: 0 8px 6px -6px gray;
}

.h2_open{
  font-size: 2.55rem;
  font-weight: 100;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  text-shadow: 0 -1px 4px rgb(255, 255, 255), 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
  font-family: "Fantasy"; 
  font-size: 23px;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-style: normal;
  font-variant: small-caps; 
  border-radius: 0px 40px 27px 0px; 
  border-bottom: 4px double rgba(28,110,164,0.52);
   /* background: #CE5937;
    background: -moz-linear-gradient(45deg, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
    background: -webkit-linear-gradient(45deg, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
    background: linear-gradient(45deg, #CE5937 0%, #1C6EA4 50%, #C59237 100%); */
    /* border-top: 5px double rgba(28,110,164,0.87); */
}

.h2_close{
  font-size: 2.55rem;
  font-size: 23px;
  font-weight: 100;
  text-transform: uppercase;
  color: #ff8000;
  font-family: "Fantasy"; 
  letter-spacing: 2px;
  word-spacing: 2px;
  font-style: normal;
  font-variant: small-caps; 
  text-decoration: overline solid rgba(0, 0, 0, 0.699);
  /* border-top: 5px double rgba(28,110,164,0.87); */
  /* border-radius: 0px 40px 27px 0px; 
  border-bottom: 5px double rgba(28,110,164,0.87); */
    /* text-shadow:
  -1px -1px 0 rgb(43, 60, 73),
  1px -1px 0 #000,
  -1px 1px 0 rgb(1, 2, 2),
  1px 1px 0 rgb(255, 255, 255);  */
  /* -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #8b8b8b; */
}

.show_content_color{
  color:rgb(255, 155, 61); background-color: transparent; display: contents;
}

.hide_content_color{
  color:rgb(69, 141, 235); background-color: transparent; display: contents;
}