
/**
 * @file
 * Main stylesheet file.
 */


/*****************************************************************************
 * Main elements
 ****************************************************************************/
html {
  overflow-y: scroll;
}
section {
  margin: 50px 0;
}
section > h2 {
  margin-bottom: 20px;
}
a {
  cursor: pointer;
  color: #3aa0ff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background: initial;
  color: initial;
}
p.lead {
  margin-top: 30px;
}
::selection {
  /* FONT-WEIGHT: 100; */
  color: #FFF8;
}
::-moz-selection {
  background: #555;
  color: #FFF;
}
::-webkit-selection {
  background: #555;
  color: #FFF;
}
/* Main elements end */


/*****************************************************************************
 * Various other styles
 ****************************************************************************/

/* Various other styles end */

#front-splash {
	width: 100%;
}
.navbar.navbar-fixed-top {
  background: none;
  box-shadow: none;
  border-bottom: none;
  padding-top: 10px;
  background-color: white;
}
.navbar-nav .search {
  margin-top: 6px;
  width: 300px;
  margin-right: 15px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.active>a {
    background: none;
    box-shadow: none;
    color: black;
    font-weight: bold;
}
.navbar-nav .search input {
  border-radius: 50px;
  background: #f2f2f2;
  border: none;
  box-shadow: none;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 1.4rem;
}

.btn-default {
    border: none;
    background-color: #dde2e7;
    background-image: linear-gradient(#dde2e7,#dde2e7);
    color: #444;
}

#content h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

#content h3 button {
    margin-right: 10px;
}

ul.items {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.items > li > a {
  margin-bottom: 15px;
  display: flex;
  color: initial;
  text-decoration: initial;
}
ul.items > li > a > i {
  padding: 7px 10px 0;
}
ul.items > li:hover {
  color: orange;
  cursor: pointer;
}
ul.items > li:hover h5 {
  color: black;
}
ul.items > li:hover h4 {
  color: orange;
}
.item {
  padding: 5px 5px 5px;
  flex: 1;
}
.item h5 {
  margin-top: 0;
  margin-bottom: 5px;
  
}
img {
  max-width: 100%;
  max-height: 500px;
  border: #676767 solid 1px;
 
}


p {
  margin: 5px 0;
}
p > i {
  width: 30px;
  text-align: center;
}
.not-seeking {
  opacity: 0.6;
}
.seeking {
  display: inline-block;
  padding: 20px 30px;
  margin-top: 30px;
  border-radius: 15px;
  font-weight: bold;
  background: #ffffc6;
}

.seeking > button {
  margin-left: 15px;
}
.description {
  max-width: 450px;
}
.genres {
  margin-bottom: 15px;
}

span.genre {
  display: inline-block;
  font-family: monospace;
  padding: 4px 8px;
  background: #f0f0f0;
  margin: 0 5px 5px 0;
  border-radius: 3px;
  color: #676767;
  font-size: 0.9em;
  text-transform: uppercase;
  border: solid 1px #eee;
}

.delete {
  -webkit-appearance: none;
  border-style: none;
  border-left: 5px outset #a42c1c;
  border-right: 5px outset #a42c1c;
  border-radius: 38px 40px 40px 40px;
  outline: none;
  color: red;
  cursor: pointer;
  font-size: 25px;
  background-color: white;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
  }

  .delete:hover {
    -webkit-appearance: none;
    border-style: none;
    border: 2px groove #a42c1c;
    border-radius: 38px 40px 40px 40px;
    outline: none;
    color: red;
    cursor: pointer;
    font-size: 25px;
    background-color: white;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
    }

  .edit  {
  -webkit-appearance: none;
  border-style: none;
  border-left: 5px outset #1C6EA4;
  border-right: 5px outset #1C6EA4;

  border-radius: 38px 40px 40px 40px;
  outline: none;
  color: #0c3e5f;
  cursor: pointer;
  font-size: 22px;
  background-color: white;
  padding: .1599em .15em .175em .25em;
  position: relative;
  top: 0px;
  right: 0px
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
  }

  .edit:hover{
  -webkit-appearance: none;
  border-style: none;
  
  border: 2px groove #1C6EA4;
  border-radius: 38px 40px 40px 40px;
  outline: none;
  color: #040607;
  cursor: pointer;
  font-size: 22px;
  background-color: white;
  padding: .1599em .15em .175em .25em;
  position: relative;
  top: 0px;
  right: 0px
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
  }

span.genre_unselected {
  display: inline-block;
  font-family: monospace;
  padding: 4px 8px;
  background: #f0f0f0;
  margin: 0 5px 5px 0;
  border-radius: 3px;
  color: #676767;
  font-size: 0.9em;
  text-transform: uppercase;
  border: solid 1px #eee;
}

span.genre_selected {
  display: inline-block;
  font-family: monospace;
  padding: 4px 8px;
  background: #ff0;
  margin: 0 5px 5px 0;
  border-radius: 3px;
  color: #676767;
  font-size: 0.9em;
  text-transform: uppercase;
  border: solid 1px #eee;
}

button.genre_unselected {
  display: inline-block;
  font-family: monospace;
  padding: 4px 8px;
  background: #f0f0f0;
  margin: 0 5px 5px 0;
  border-radius: 3px;
  color: #676767;
  font-size: 0.9em;
  text-transform: uppercase;
  border: solid 1px #eee;
}

button.genre_selected {
  display: inline-block;
  font-family: monospace;
  padding: 4px 8px;
  background: #ff0;
  margin: 0 5px 5px 0;
  border-radius: 3px;
  color: #676767;
  font-size: 0.9em;
  text-transform: uppercase;
  border: solid 1px #eee;
}
.monospace {
  font-family: monospace;
  text-transform: uppercase;
}
h1.monospace {
  font-size: 2.5rem;
}

h2.monospace {
  font-size: 2.25rem;
  opacity: 0.7;
}
.shows .tile-show {
  height: 350px;
}
.tile {
  text-align: center;
  padding: 15px 25px;
  border: solid 1px #ebebeb;
  height: 325px;
  margin-bottom: 15px;
}
.tile img {
  max-height: 200px;
}
.form-wrapper {
  max-width: 400px;
}
.form-inline {
  font-size: 0;
}
.form-inline .form-group {
  width: 50%;
}
.form-inline .form-control {
  width: 100%;
}
.subtitle {
  opacity: 0.5;
}
.form-checkbox{
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: auto;
  outline: rgb(255, 153, 0) groove 5px;
  background: lightgray;
  height: 16px;
  width: 16px;
  border: 1px solid white;
}
.form-checkbox:checked{
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: auto;
  outline: rgb(255, 153, 0) groove 5px;
  background: rgb(236, 8, 8);
  height: 16px;
  width: 16px;
  border: 1px solid white;
}

.control-me::after {
  content: "🙈❌";
  font-size: 50px;
  position: relative;
  left: 2.65em;
}

#toggle:checked ~ .control-me::after {
  content: "🐵✔";
  position: relative;
  left: 2.65em;
}


.hide-contents{
  display: none;
}

.toggle {
  background:rgb(255, 153, 0);
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  border-style: ridge;
  border-color: black;
  position: relative;
  left: 1em;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  left: -100vw;
  
  
  /* Note, you may want to position the checkbox over top the label and set the opacity to zero instead. It can be better for accessibilty on some touch devices for discoverability. */
}
.items li { display: inline;}
.items .artist_hover_img  {position:absolute; display:none; z-index:99; }
.items .venue_hover_img  {position:absolute; display:none; z-index:99; }
.items h5{
  color: #ff8000;
}

.items li:hover .artist_hover_img { 
  display:inline; 
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: visible; 
  position: fixed; 
  padding: 5px;
  left: 50%;
  top: 50%;
  transform: translate(-25%, -65%);
  
}
.items li:hover .venue_hover_img { 
  display:inline; 
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: visible; 
  position: fixed; 
  padding: 5px;
  left: 50%;
  top: 50%;
  transform: translate(-25%, -65%);
  
}

.artist_hover_img img {
  height: 150%;
  width: 150%;
}
.items img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.featured{
  /* -webkit-box-shadow: 6px 7px 44px 8px #000000; */
  /* -webkit-box-shadow: 6px 7px 13px 4px #000000;
  -webkit-box-shadow: 0 8px 6px -6px gray;
  -moz-box-shadow: 0 8px 6px -6px gray;
  box-shadow: 0 8px 6px -6px gray;
  border: 2px outset #1C6EA4; */
  /* border-radius: 38px 38px 40px 40px; */

  /* background: linear-gradient(180deg,  rgb(31, 31, 31), #1f1f1f, rgb(255, 255, 255) );
  background-image: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(31,31,31,1) 58%, rgba(255,255,255,1) 85%, rgba(255,255,255,1) 100%);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(31,31,31,1) 41%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%); */
  background-color: #1f1f1f;
  -webkit-box-shadow: 6px 7px 13px 4px #000000;
  border-color:black; border-radius: 38px 38px 40px 40px;
  
}

.tinted{
  -webkit-box-shadow: 0 8px 6px -6px gray;
  -moz-box-shadow: 0 8px 6px -6px gray;
       box-shadow: 0 8px 6px -6px gray;
}

.h2_open{
  font-size: 2.55rem;
  font-weight: 100;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  text-shadow: 0 -1px 4px rgb(255, 255, 255), 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
  font-family: "Fantasy"; 
  font-size: 23px;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-style: normal;
  font-variant: small-caps; 
  border-radius: 0px 40px 27px 0px; 
  border-bottom: 4px double rgba(28,110,164,0.52);
   /* background: #CE5937;
    background: -moz-linear-gradient(45deg, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
    background: -webkit-linear-gradient(45deg, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
    background: linear-gradient(45deg, #CE5937 0%, #1C6EA4 50%, #C59237 100%); */
    /* border-top: 5px double rgba(28,110,164,0.87); */
}

.h2_close{
  font-size: 2.55rem;
  font-size: 23px;
  font-weight: 100;
  text-transform: uppercase;
  color: #ff8000;
  font-family: "Fantasy"; 
  letter-spacing: 2px;
  word-spacing: 2px;
  font-style: normal;
  font-variant: small-caps; 
  text-decoration: overline solid rgba(0, 0, 0, 0.699);
  /* border-top: 5px double rgba(28,110,164,0.87); */
  /* border-radius: 0px 40px 27px 0px; 
  border-bottom: 5px double rgba(28,110,164,0.87); */
    /* text-shadow:
  -1px -1px 0 rgb(43, 60, 73),
  1px -1px 0 #000,
  -1px 1px 0 rgb(1, 2, 2),
  1px 1px 0 rgb(255, 255, 255);  */
  /* -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #8b8b8b; */
}

.show_content_color{
  color:rgb(255, 155, 61); background-color: transparent; display: contents;
}

.hide_content_color{
  color:rgb(69, 141, 235); background-color: transparent; display: contents;
}


.toggle_audio  {
  position:relative;
  display:inline-block;
  width:40px;
  height:60px;
  background-color:#bbb;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  text-align:center;
}

.toggle_audio input {
  width:100%;
  height:100%;
  margin:0 0;
  padding:0 0;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:2;
  cursor:pointer;
  opacity:0;
  filter:alpha(opacity=0);
}

.toggle_audio label {
  display:block;
  position:absolute;
  top:1px;
  right:1px;
  bottom:1px;
  left:1px;
  background-image:-webkit-linear-gradient(top,#fff 0%,#ddd 50%,#fff 50%,#eee 100%);
  background-image:-moz-linear-gradient(top,#fff 0%,#ddd 50%,#fff 50%,#eee 100%);
  background-image:-ms-linear-gradient(top,#fff 0%,#ddd 50%,#fff 50%,#eee 100%);
  background-image:-o-linear-gradient(top,#fff 0%,#ddd 50%,#fff 50%,#eee 100%);
  background-image:linear-gradient(top,#fff 0%,#ddd 50%,#fff 50%,#eee 100%);
  -webkit-box-shadow:0 2px 3px rgba(0,0,0,0.4),
    inset 0 -1px 1px #888,
    inset 0 -5px 1px #bbb,
    inset 0 -6px 0 white;
  -moz-box-shadow:0 2px 3px rgba(0,0,0,0.4),
    inset 0 -1px 1px #888,
    inset 0 -5px 1px #bbb,
    inset 0 -6px 0 white;
  box-shadow:0 2px 3px rgba(0,0,0,0.4),
    inset 0 -1px 1px #888,
    inset 0 -5px 1px #bbb,
    inset 0 -6px 0 white;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  font:normal 11px Arial,Sans-Serif;
  color:#666;
  text-shadow:0 1px 0 white;
  cursor:text;
}

.toggle_audio label:before {
  content:attr(data-off);
  position:absolute;
  top:6px;
  right:0;
  left:0;
  z-index:4;
}

.toggle_audio label:after {
  content:attr(data-on);
  position:absolute;
  right:0;
  bottom:11px;
  left:0;
  color:#666;
  text-shadow:0 -1px 0 #eee;
}

.toggle_audio input:checked + label {
  background-image:-webkit-linear-gradient(top,#eee 0%,#ccc 50%,#fff 50%,#eee 100%);
  background-image:-moz-linear-gradient(top,#eee 0%,#ccc 50%,#fff 50%,#eee 100%);
  background-image:-ms-linear-gradient(top,#eee 0%,#ccc 50%,#fff 50%,#eee 100%);
  background-image:-o-linear-gradient(top,#eee 0%,#ccc 50%,#fff 50%,#eee 100%);
  background-image:linear-gradient(top,#eee 0%,#ccc 50%,#fff 50%,#eee 100%);
  -webkit-box-shadow:0 0 1px rgba(0,0,0,0.4),
    inset 0 1px 7px -1px #ccc,
    inset 0 5px 1px #fafafa,
    inset 0 6px 0 white;
  -moz-box-shadow:0 0 1px rgba(0,0,0,0.4),
    inset 0 1px 7px -1px #ccc,
    inset 0 5px 1px #fafafa,
    inset 0 6px 0 white;
  box-shadow:0 0 1px rgba(0,0,0,0.4),
    inset 0 1px 7px -1px #ccc,
    inset 0 5px 1px #fafafa,
    inset 0 6px 0 white;
}

.toggle_audio input:checked:hover + label {
  -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.4),
    inset 0 1px 7px -1px #ccc,
    inset 0 5px 1px #fafafa,
    inset 0 6px 0 white;
  -moz-box-shadow:0 1px 3px rgba(0,0,0,0.4),
    inset 0 1px 7px -1px #ccc,
    inset 0 5px 1px #fafafa,
    inset 0 6px 0 white;
  box-shadow:0 1px 3px rgba(0,0,0,0.4),
    inset 0 1px 7px -1px #ccc,
    inset 0 5px 1px #fafafa,
    inset 0 6px 0 white;
}

.toggle_audio input:checked + label:before {
  z-index:1;
  top:11px;
}

.toggle_audio input:checked + label:after {
  bottom:9px;
  color:#aaa;
  text-shadow:none;
  z-index:4;
}

/* sliding text animation for music */
span.main {
  width:90%;
  display: inline-block;
  overflow:hidden;
  background-color: #ffffff;
  margin: 0;
  height: auto;
  border: 2px solid rgb(255, 255, 255);
  padding: 1.2em 0;
  font-size: 1.5em;
  font-family: "Agency FB";
  color: #4475be;
}
span.slide-right p {
  -moz-animation: 10s slide-right;
  -webkit-animation: 10s slide-right;
  -o-animation: 10s slide-right;
  animation: 10s slide-right;
  margin:0;
}
span.slide-left p {
  -moz-animation: 10s slide-left;
  -webkit-animation: 10s slide-left;
  -o-animation: 10s slide-left;
  animation: 10s slide-left;
  margin:0;
}

span.slide_none{
  margin:0;
  display: none;
}

@-webkit-keyframes slide-right { from { margin-left: 100%;width: 300%; }
  to {margin-left: 0%;width: 100%;} }
@-moz-keyframes slide-right { from { margin-left: 100%;width: 300%; }
  to {margin-left: 0%;width: 100%;} }
 @-o-keyframes slide-right { from { margin-left: 100%;width: 300%; }
  to {margin-left: 0%;width: 100%;} }
@keyframes slide-right { from { margin-left: 100%;width: 300%; }
  to {margin-left: 0%;width: 100%;} }

@-webkit-keyframes slide-left { from {margin-left: 0%;width: 100%;}
 to {margin-left: -100%;width: 300%;} }
@-moz-keyframes slide-left { from {margin-left: 0%;width: 100%;}
 to {margin-left: -100%;width: 300%;} }
@-o-keyframes slide-left { from {margin-left: 0%;width: 100%;}
 to {margin-left: -100%;width: 300%;} }
@keyframes slide-left { from {margin-left: 0%;width: 100%;}
 to {margin-left: -100%;width: 300%;} }


.shows_radio_button{
  display: inline-block;
  margin:0px;
  font-size: .85em;
  
}

.popup_header{
  text-shadow: 0 -1px 4px rgb(255, 255, 255), 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
  color: white;
  text-align: center; 

}
.popup_body{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #1f1f1f;
  border: 5px outset rgba(28,110,164,0.63);
border-radius: 0px 40px 0px 40px;
  -webkit-box-shadow: 4px -4px 15px 0px #FF1F1F, 12px -11px 7px 0px #FF9376, 20px -5px 7px 0px #FFE264, 20px 6px 7px 0px #F6FF33, 13px 12px 17px 0px #FF9527, 2px 17px 17px 0px #FF0000, -9px 21px 18px 0px #FFF212, -9px 6px 11px 0px #FF0808, -11px -9px 11px 0px #FFFA17, -11px -9px 11px 0px #FFFA17, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 4px -4px 15px 0px #FF1F1F, 12px -11px 7px 0px #FF9376, 20px -5px 7px 0px #FFE264, 20px 6px 7px 0px #F6FF33, 13px 12px 17px 0px #FF9527, 2px 17px 17px 0px #FF0000, -9px 21px 18px 0px #FFF212, -9px 6px 11px 0px #FF0808, -11px -9px 11px 0px #FFFA17, -11px -9px 11px 0px #FFFA17, 5px 5px 15px 5px rgba(0,0,0,0);
  font-family: sans-serif;
}


.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}


.btn-success{
  background: #000000;
  box-shadow: 0 0 0 -2px #000000,
              inset 0 0 0 1px rgb(0, 0, 0);
 
}

.show_subtitle{
  display: table-footer-group;
  float: left;
  margin: 0; 
  padding: 0; 
  color:white;
  width: 85px;
  height: 0px;
  
}

.artist_subtitle{
  display: table-footer-group;
  float: left;
  margin: 0; 
  padding: 0; 
  color:rgb(0, 0, 0);
  width: 85px;
  height: 0px;
}

.venue_subtitle{
  display: inline-flex;
  color:rgb(0, 0, 0);
  width: 10px;
  height: 0px;
}

.tab_top{
  font-size: 2.55rem;
  font-weight: 100;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  text-shadow: 0 -1px 4px rgb(255, 255, 255), 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
  font-family: "Fantasy"; 
  font-size: 23px;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-style: normal;
  font-variant: small-caps; 
  text-align: center;
  justify-content: center;
  
  display: flex;
}


/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.div1{
 
  border: #ffffff solid 2px;

  background: url(https://images.unsplash.com/photo-1510384742052-1abcb6282645?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat center ;
  object-fit: cover;
}

.div2{
  display: grid;
  max-width: 100%;
  background: black;
  opacity: 40%;
  border: #1C6EA4 double 80px;
  background: linear-gradient(
    60deg,
    rgba(0, 0, 0, 0.7777485994397759) 30%,
    rgba(255, 255, 255, 0) 100%
  ); 
  align-items: flex-start;
  justify-content: center;
}

.div3{

  border: 5px ridge rgba(233, 101, 14, 0.24);
  border-radius: 40px 40px 40px 40px;
  max-width: 100%;
  
  display: grid;
  max-width: 100%;
  justify-content: center;

  align-items: flex-start;
  justify-content: center;
 
}

.div4{

display: grid;
justify-content: center;

max-width: 100%;
align-items: center;
  
 
}


.parent {
  max-width: 100%;
  max-height: 100%;
  height: 458px;
  width: 1903px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 1 / 1 / 2 / 2; }
  .div3 { grid-area: 1 / 1 / 2 / 2; }
  .div4 { grid-area: 1 / 1 / 2 / 2; }

  #shows_edit:hover{
  color: #000000;
  }